@use '../../../styles/variables' as *;
@use '../../../styles/mixins/function' as *;


.button-cnt {
  padding: 24px 12px;
  margin-bottom: 12px !important;
  background: getCssVar('bg', 'default');
  border-radius: 4px;

  .button-cnt__row {
    display: flex;

    > div {
      border: 1px dashed getCssVar('border', 'default');
      padding: 29px 0;
      min-width: 150px;
      margin-left: -1px;
      margin-top: -1px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        min-width: 80px;
        border: none;
        display: flex;
        align-items: center;
        color: getCssVar('text-2');
        text-align: left;
      }

      &:last-child {
        min-width: 100px;
      }
    }

    &:first-child {
      div:nth-child(2) {
        border-top-left-radius: 10px;
      }
      div:last-child {
        border-top-right-radius: 10px;
      }
    }
    &:last-child {
      div:nth-child(2) {
        border-bottom-left-radius: 10px;
      }
      div:last-child {
        border-bottom-right-radius: 10px;
      }
    }
  }
}