@use 'sass:map';

@use 'mixins/function' as *;


// Define colors for themes
$themes: (
        light: (
                TRANSPARENT: transparent,
                STATIC-WHITE: #ffffff,

                BG-DEFAULT: #ffffff, // Figma<Secondary/White>
                BG-SECONDARY: #232732, // Figma<Secondary/Black>
                BG-PRIMARY: #f7f7fc, // Figma<Purple>
                BG-SUCCESS: #f7fcfa, // Figma<Green>
                BG-WARNING: #fcfaf7, // Figma<Orange>
                BG-DANGER: #fcf7f7, // Figma<Red>
                BG-INFO: #f8fafc, // Figma<Blue>

                TEXT-DEFAULT: #232732, // Figma<Secondary/Black>
                TEXT-SECONDARY: #fcfcfc, // Figma<Secondary/White>
                TEXT-1: #596580, // Figma<Secondary/Light Black>
                TEXT-2: #596580, // Figma<Secondary/Grey>
                TEXT-3: #eaeef5, // Figma<Secondary/Light Gray>

                BORDER-DEFAULT: #dde1ea, // Figma<Stroke/Gray>
                BORDER-SUCCESS: #50c7b3, // Figma<Stroke/Green>
                BORDER-ORANGE: #f2b16e, // Figma<Stroke/Orange>
                BORDER-DANGER: #f26d6d, // Figma<Stroke/Danger>
                BORDER-INFO: #a0a0e5, // Figma<Stroke/Gray>

                PRIMARY-1: #e8e8fc, // Figma<Primary/Light Purple>
                PRIMARY-2: #5c5ce5, // Figma<Primary/Purple>
                PRIMARY-3: #4747cb, // Figma<Primary/Dark Purple>
                PRIMARY-4: #001f9a, // Figma<Primary/Pressed Purple>

                DANGER-1: #e54645, // Figma<Status/Red>

                WARNING-1: #f29d43, // Figma<Status/Orange>
                WARNING-2: #cd8338, // Figma<Status/Dark Orange>

                SUCCESS-1: #08ae8f, // Figma<Status/Green>
                SUCCESS-2: #02876f, // Figma<Status/Dark Green>

                INFO-2: #41acd9, // Figma<Status/Blue>
        ),
        dark: (
                TRANSPARENT: transparent,
                STATIC-WHITE: #ffffff,

                BG-DEFAULT: #ffffff, // Figma<Secondary/White>
                BG-SECONDARY: #232732, // Figma<Secondary/Black>
                BG-PRIMARY: #F7F7FC, // Figma<Purple>
                BG-SUCCESS: #F7FCFA, // Figma<Green>
                BG-WARNING: #fcfaf7, // Figma<Orange>
                BG-DANGER: #fcf7f7, // Figma<Red>
                BG-INFO: #f8fafc, // Figma<Blue>

                TEXT-DEFAULT: #232732, // Figma<Secondary/Black>
                TEXT-SECONDARY: #fcfcfc, // Figma<Secondary/White>
                TEXT-1: #596580, // Figma<Secondary/Light Black>
                TEXT-2: #596580, // Figma<Secondary/Grey>
                TEXT-3: #eaeef5, // Figma<Secondary/Light Gray>

                BORDER-DEFAULT: #dde1ea, // Figma<Stroke/Gray>
                BORDER-SUCCESS: #50c7b3, // Figma<Stroke/Green>
                BORDER-ORANGE: #f2b16e, // Figma<Stroke/Orange>
                BORDER-DANGER: #f26d6d, // Figma<Stroke/Danger>
                BORDER-INFO: #a0a0e5, // Figma<Stroke/Gray>

                PRIMARY-1: #e8e8fc, // Figma<Primary/Light Purple>
                PRIMARY-2: #5c5ce5, // Figma<Primary/Purple>
                PRIMARY-3: #4747cb, // Figma<Primary/Dark Purple>
                PRIMARY-4: #001f9a, // Figma<Primary/Pressed Purple>

                DANGER-1: #e54645, // Figma<Status/Red>

                WARNING-1: #f29d43, // Figma<Status/Orange>
                WARNING-2: #cd8338, // Figma<Status/Dark Orange>

                SUCCESS-1: #08ae8f, // Figma<Status/Green>
                SUCCESS-2: #02876f, // Figma<Status/Dark Green>

                INFO-2: #41acd9, // Figma<Status/Blue>
        ),
);

// types
$types: primary, success, warning, danger, error, info;

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color-hover: getCssVar('text-color', 'disabled') !default;

$border-radius: () !default;
$border-radius: map.merge(
                (
                        'base': 4px,
                        'small': 2px,
                        'round': 20px,
                        'circle': 100%,
                ),
                $border-radius
);

// Typography
$font-family: () !default;
$font-family: map.merge(
                (
                  // default family
                  '': "'Inter', 'system-ui', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif"
                ),
                $font-family
);

$font-size: () !default;
$font-size: map.merge(
                (
                        'extra-large': 20px,
                        'large': 18px,
                        'medium': 16px,
                        'base': 14px,
                        'small': 13px,
                        'extra-small': 12px,
                ),
                $font-size
);

// transition
$transition: () !default;
$transition: map.merge(
                (
                        'all': all getCssVar('transition-duration')
                        getCssVar('transition-function-ease-in-out-bezier'),
                        'fade': opacity getCssVar('transition-duration')
                        getCssVar('transition-function-fast-bezier'),
                        'md-fade': (
                                transform getCssVar('transition-duration')
                                getCssVar('transition-function-fast-bezier'),
                                opacity getCssVar('transition-duration')
                                getCssVar('transition-function-fast-bezier'),
                        ),
                        'fade-linear': opacity getCssVar('transition-duration-fast') linear,
                        'border': border-color getCssVar('transition-duration-fast')
                        getCssVar('transition-function-ease-in-out-bezier'),
                        'box-shadow': box-shadow getCssVar('transition-duration-fast')
                        getCssVar('transition-function-ease-in-out-bezier'),
                        'color': color getCssVar('transition-duration-fast')
                        getCssVar('transition-function-ease-in-out-bezier'),
                ),
                $transition
);

$transition-duration: () !default;
$transition-duration: map.merge(
                (
                        '': 0.3s,
                        'fast': 0.2s,
                ),
                $transition-duration
);

$transition-function: () !default;
$transition-function: map.merge(
                (
                        'ease-in-out-bezier': cubic-bezier(0.645, 0.045, 0.355, 1),
                        'fast-bezier': cubic-bezier(0.23, 1, 0.32, 1),
                ),
                $transition-function
);
