@use 'sass:map';

@use '../../styles/mixins/var' as *;
@use '../../styles/mixins/function' as *;
@use '../../styles/mixins/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins/config' as config;


@include b(spinner) {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

@include b(spinner-inner) {
  animation: rotate 0.4s linear infinite;
  width: 100%;
  height: 100%;
  position: relative;

  @include e(icon) {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    background: conic-gradient(
            from 90deg at 50% 50%,
            rgba(24, 24, 151, 0.0001) 0deg,
            currentColor 359.96deg,
            rgba(24, 24, 151, 0.0001) 360deg
    );
    clip-path: circle(56% at center);
    -webkit-mask-image: radial-gradient(circle at center, transparent 44%, black 44.8%);
    mask-image: radial-gradient(circle at center, transparent 44%, black 44.8%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}